<app-header-web></app-header-web>
<div class="chat-body" id="chat-body" *ngFor="let m of messages">
  <p>{{m.user.login}}: {{m.message}}</p>
</div>
<p *ngIf="messages.length === 0">This chat is empty</p>
<div class="login">
  Your login:
  <input type="text" id="login" name="login" [(ngModel)]="user">
</div>
<div class="message">
  Message:
  <input type="text" id="your-message" name="your-message" [(ngModel)]="yourMessage">
  <input type="button" value="Send" (click)="sendMessage()" [disabled]="!yourMessage || !user">
</div>
