<div class="login-page">
  <div class="form">

    <form class="register-form" (ngSubmit)="signUp()">
      <input type="text" placeholder="username" name="register-username" [(ngModel)]="userToRegister.login"/>
      <input type="password" placeholder="password" name="register-password" [(ngModel)]="userToRegister.password"/>
      <input type="password" placeholder="repeat password" name="register-re-password"/>
      <input type="text" placeholder="email address" name="register-email"/>
      <button>create</button>
      <p class="message">Already registered? <a href="#" (click)="togglePanel()">Sign In</a></p>
    </form>

    <form class="login-form" (ngSubmit)="signIn()">
      <input type="text" placeholder="username" name="login-username" [(ngModel)]="userToLogin.username"/>
      <input type="password" placeholder="password" name="login-password" [(ngModel)]="userToLogin.password"/>
      <button>login</button>
      <p class="message error-login" id="errorLogin"></p>
      <p class="message">Not registered? <a href="#" (click)="togglePanel()">Create an account</a></p>
      <p class="message"><a href="#" (click)="randomGuestUser()">Login as guest</a></p>
    </form>

  </div>
</div>
