<h1 mat-dialog-title>Add user to room {{data.room}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput
           name="user"
           [(ngModel)]="userLogin"
           placeholder="user"
           (keyup)="invalidUser = false"
    />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="addUserToRoom()" style="margin-left: 1em;">Add</button>
  <p style="color: #e74c3c;
          margin: 0;
          text-align: left;
          font-size: 12px;" *ngIf="invalidUser">
    The user you want to add does not exist
  </p>
  <p class="added-users" *ngFor="let user of data.addedUsers">
    {{user.login}}
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.addedUsers" cdkFocusInitial>Add all users</button>
</div>
