.info-panel {
  display: flex;
  flex-direction: row;
  padding: 1em 0;
  background-color: #444753;
  border-bottom: 1px solid #FFFFFF;
  position: relative;
}

.icon-person {
  transform: scale(1.5);
  margin: 7px 1em 0 1em;
  color: #FFFFFF;
}

.user-info {
  padding: 1em 0;
  color: #FFFFFF;
}

.btn-sign-out {
  position: absolute;
  right: 1em;
  top: 2em;
}
