.list-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #444753;
  color: #FFFFFF;
}

.list-title {
  font-size: 24px;
  text-align: center;
  padding: 10px;
}

.simple-user {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.color-ellipse {
  width: 25px;
  border-radius: 50px;
  margin-right: 10px;
}

.users-list-group-title {
  display: block;
  color: #aaaaaa;
  width: 100%;
  text-align: center;
  font-size: 14px;
  text-transform: capitalize;
}
