a {
  cursor: pointer;
}

.rooms-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #444753;
  color: #FFFFFF;
}

.room-title {
  font-size: 24px;
  text-align: center;
  padding: 10px;
}

.rooms {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.box-search-and-add {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.search-room {
  border-radius: 3px;
  border: none;
  padding: 10px;
  color: #FFFFFF;
  background: #6A6C75;
  width: 80%;
  font-size: 14px;
}

.search-room::placeholder {
  color: #CCCCCC;
}

.search-room:focus {
  outline: 1px solid #2ecc71;
}

.search-icon {
  font-size: 28px;
  position: relative;
  left: -30px;
  top: 8px;
}

.room-body {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.room-name {
  padding: 5px 10px;
}

a.room-name:hover {
  color: #2ecc71;
}

.leave-room:hover, .add-room:hover {
  filter: grayscale(100%) contrast(100%);
}

.add-room {
  padding: 10px;
}

.leave-room {
  padding: 5px 10px;
}
