.chat {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.chat-right {
  width: 65%;
  height: 70vh;
  background-color: #F2F5F8;
}

.rooms {
  width: 35%;
  height: 70vh;
}

.chat-title {
  font-size: 24px;
  text-align: center;
  padding: 10px;
  background-color: #F2F5F8;
}

.chat-body {
  height: 65%;
  width: 100%;
  padding: 10px;
  overflow: auto;
  border-bottom: 3px solid #FFFFFF;
  border-top: 3px solid #FFFFFF;
}

.message {
  margin: 10px;
}

.your-message {
  width: 100%;
}

.full-width {
  width: 100%;
}

.login-message {
  font-weight: bold;
}

.time-message {
  color: #aaaaaa;
  font-size: 12px;
}

.text-message {
  display: flex;
}
