<div class="container-chat col-lg-8 col-md-10 col-sm-12">
  <app-info-panel [user]="user"></app-info-panel>
  <div class="chat">
    <app-rooms [user]="user"
               (room)="updateRoom($event)"
               (openRoom)="openRoom($event)"
               (closeRoom)="closeRoom($event)"
               class="rooms"></app-rooms>
    <div class="chat-right">
      <div class="chat-title">
        {{room}}
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Room menu" *ngIf="room != 'All'"
                style="float: right;">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialogToAddUserToRoom(room)">
            <mat-icon>add</mat-icon>
            <span>Add user to room</span>
          </button>
        </mat-menu>
      </div>
      <div class="chat-body" #chatBody [scrollTop]="chatBody.scrollHeight">
        <p *ngFor="let m of messages">
          <span *ngIf="m.type == 'MESSAGE'">
            <span class="login-message" [ngStyle]="{'color': m.user.color}">{{m.user.login}} </span>
            <span class="time-message">{{m.dateTime}}</span>
            <span class="text-message">{{m.message}}</span>
          </span>
        </p>
        <p *ngIf="messages.length === 0">This chat is empty</p>
      </div>
      <div class="message">
        <mat-form-field class="full-width">
          <mat-label>Message</mat-label>
          <input matInput
                 id="your-message"
                 name="your-message"
                 [(ngModel)]="yourMessage"
                 class="your-message"
                 (keyup)="enterSend($event)">
        </mat-form-field>
        <button id="sendButton" mat-raised-button color="primary" style="float: right;" (click)="sendMessage()"
                [disabled]="!yourMessage">
          Send
        </button>
      </div>
    </div>
  </div>

</div>
